body {
  background-color: #FDDBDF;
  background: image-url('background.png') no-repeat center center fixed;
  background-size: cover;
}

h2 {
  text-align: center;
}

label {
  font-size: 115%;
}

.top-bar {
  background-color: #302D20;
}

a {
  color: #EFB57C;
}

a:hover {
  color: white;
}

ul.right {
  background-color: #302d20;
}

.index-title {
  color: black;
  text-align: center;
  text-decoration: underline;
}

.devise {
  padding-bottom: 15px;
}

.devise a {
  color: black;
}

.devise a:hover {
  color: #E7704F;
}
