@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
  background-color: #FDDBDF;
  background: image-url('background.png') no-repeat center center fixed;
  background-size: cover;
}

h2 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

label {
  font-size: 115%;
  font-family: 'Oswald', sans-serif;
}

a {
  color: #EFB57C;
  font-family: 'Oswald', sans-serif;
}

a:hover {
  color: white;
}

.title {
  color: white;
}

.title:hover {
  color: #EFB57C;
}

.top-bar {
  background-color: #302D20;
}

ul.right {
  background-color: #302d20;
}

.index-title {
  color: black;
  text-align: center;
  text-decoration: underline;
  font-family: 'Oswald', sans-serif;
}

.devise {
  padding-bottom: 15px;
}

.devise a {
  color: black;
  font-family: 'Oswald', sans-serif;
}

.devise a:hover {
  color: #E7704F;
}

.groups {
  text-align: center;
  padding-bottom: 100px;
}

.callout {
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #302D20;
  border-radius: 5px;
  background-color: white;
}

.callout a {
  font-size: 24px;
  color: #302d20;
  font-family: 'Oswald', sans-serif;
}

.callout a:hover {
  color: #E7704F;
}

.bottom-bar {
  background-color: #302D20;
  color: #EFB57C;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 30px;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

.delete-group {
  color: #EFB57C;
}

.delete-group:hover {
  color: white;
}

.join-group {
  color: #EFB57C;
}

.join-group:hover {
  color: white;
}

#map {
  height: 300px;
  max-width: 400px;
  margin: auto;
}

.show.callout {
  margin-bottom: 100px;
}

.new-user {
  margin: auto;
  width: 575px;
  margin-top: 30px;
  border: 3px solid #99B2B7;
  padding: 10px;
  background-color: #E7704F;
  margin-bottom: 30px;
}

.new-login {
  margin: auto;
  width: 575px;
  margin-top: 30px;
  border: 3px solid #99B2B7;
  padding: 10px;
  background-color: #E7704F;
  margin-bottom: 30px;
}

.new-group {
  margin: auto;
  width: 575px;
  margin-top: 30px;
  border: 3px solid #99B2B7;
  padding: 10px;
  background-color: #E7704F;
  margin-bottom: 30px;
}

.new-run {
  margin: auto;
  width: 575px;
  margin-top: 30px;
  border: 3px solid #99B2B7;
  padding: 10px;
  background-color: #E7704F;
  margin-bottom: 300px;
}
